
.a {
	text-decoration: none;
}

a:hover{
	background-color: honeydew;
	padding: 5px;
}

body {
	margin: 0;
}

.column1 {
	float: left;
	width: 40%;
	height: 300px;
	padding: 10px
}
.column2 {
	float: right;
	width: 40%;
	height: 300px;
	padding: 10px;
}

.column3 {
	float: left;
	width: 30%;
	height: auto;
	background-color: bisque;
	border: 10px;
	border-color: black;
	padding: 10px;
	
}
.column4 {
	float: left;
	width: 70%;
	height: auto;
	background-color: darkgray;
}

.header {
	padding: 20px;
	text-align: center;
	background: lavenderblush;
	color: black;
	font-size: 20px;
}
.header2 {
	padding: 100px;
	text-align: center;
	background: aliceblue;
	color: black;
	font-size: 20px;
}

.li{
	list-style-type: none;
	margin: 0 2vw;
}
@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
}
.nav {
	width: 100vw;
	background-color: aliceblue;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.ul{
	margin: 0;
	padding: 0;
	display: flex;
}