
.column1 {
	float: left;
	width: 48%;
	height: 300px;
}
.column2 {
	float: right;
	width: 48%;
	height: 300px;
}

.header {
	padding: 20px;
	text-align: center;
	background: lavenderblush;
	color: black;
	font-size: 20px;
}
.header2 {
	padding: 100px;
	text-align: center;
	background: aliceblue;
	color: black;
	font-size: 20px;
}

.navigation {
	overflow: hidden;
	color: aliceblue;
	top: 0;
	margin: 0;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}