
.column1 {
	float: left;
	width: 40%;
	padding: 10px;
	height: 300px
}
.column2 {
	float: right;
	width: 40%;
	height: 300px;
}

.header {
	padding: 30px;
	text-align: center;

}

.row:after {
	content: "";
	display: table;
	clear: both;
}